---
import { ViewTransitions } from "astro:transitions";
import "aos/dist/aos.css";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { siteInfo } from "../siteInfo";

interface Props {
  title?: string;
  image?: string;
  description?: string;
}

const { description = siteInfo.description, title, image } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <!--SEO -->
    <meta name="description" content={description} />
    <meta name="autor" content={"Omar Solis"} />

    <!--OG Metatags -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />

    <title>
      {title ? `Bebidas Dev | ${title}` : "Bebidas Dev"}
    </title>
    <ViewTransitions />
  </head>
  <body
    class="bg-slate-50 dark:bg-slate-900 text-slate-900 dark:text-slate-50 max-w-screen-lg mx-auto grid grid-rows-[auto_1fr_auto] min-h-screen"
  >
    <script>
      import { aosInit } from "../js/aos";
      aosInit();
      document.addEventListener("astro:after-swap", aosInit);
    </script>

    <Header />
    <section class="my-10 p-5 lg:p-0">
      <slot />
    </section>
    <Footer />
  </body>
</html>

<style is:global>
  .line {
    @apply w-28 mt-2 mx-auto border-orange-500;
  }
</style>
